.tabs{
	margin-bottom: 0 !important;
}
.tabs ul li a{
	border-radius: 0;
}
.da{
	display: none;
}
.container{
	height: 100%;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	display: flex;
	justify-content: center;
}
.container h2{
	color: white;
	padding-bottom: 18px;
}
form{
	background-color: #3273dc;
	width: 95%;
	padding: 20px 20px 20px 20px;
	border-radius: 7px;
	text-align: center;
}
form input{
	padding: 5px;
}
body > div.tabs.is-toggle.is-fullwidth > ul > li > a{
	border-radius: 0;
}
body > div.login > div > form > input:nth-child(2){
	margin-bottom: 12px;
}
input[type=submit]{
	margin-top: 7px;
}
table{
	font-size: 12px;
	width: 600px;
}
#sel{
	margin-top: 12px;
	width: 90%;
}