::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #8645DA;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3ccf;
} 

select {
  appearance: none;
  background: url("arrow.png") 96% / 15% no-repeat #eee;
  outline: none;
  width: 83vw;
  margin: 20px 0px;
  height: 45px;
  border-radius: 25px;
  background-color: #272424;
  border: 1px #8645DA solid;
  color: #6C6C6C;
  padding-left: 20px;
  font-size: 24px;
}

.table tr:nth-child(odd){ 
    background: #000;
}
.table tr:nth-child(even){
    background: #1e1e1e;
}

.table{
  text-align: left;
  padding: 0px;
  border-spacing: 0px;
  width: 85vw;
  margin-bottom: 20px;
}

.due-1{
  color: #ff2626 !important;
}

.due-7{
  color: #dad737 !important;
}

table {
  color: white;
  font-family: 'Raleway', sans-serif;
}

tbody > tr > td{
  font-size: 13px;
  padding: 7px 0px;
}

th{
  color: #8645DA;
  font-size: 18px;
}

#tabletitle > th{
  border-bottom: 4px #8645DA solid;
}



.subm{
  outline: none;
  width: 85vw;
  height: 45px;
  border-radius: 25px;
  background-color: #8645DA;
  font-size: 24px;
  color: black;
  cursor:pointer;
  border: none;
}
.light-text{
  color: #fff;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.input {
  outline: none;
  width: 75vw;
  height: 34px;
  border-radius: 25px;
  margin: 10px 0px;
  border: 2px #272424 solid;
  background-color: #272424;
  font-size: 24px;
  padding-left: 20px;
  color: white;
}

.input:focus{
  border: 2px #8645DA solid;
}

.ext-border {
    border: 4px #8645DA solid;
    height: 95vh;
}

.logo{
  font-family: 'New Rocker', cursive;
  font-size: 72px;
  color: #8645DA !important;
  margin: 45px 0px 10px;
  font-weight: normal;
}

.logo-img{
  width: 100px;
  position: absolute;
  top: 85px;
  left: calc(50vw - 50px);
}

body {
  background-color: #000;
}

#logindiv{
  width: 340px;
  height: 523px;
}

#dadiv{
  padding: 20px 20px 20px 20px;
  justify-content: center;
  width: 712px;
  height: 611px;
}

html{
  background-color: #000 !important;
}

.tabs-container{
  margin: 0px 5vw;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: center;
}

.tab{
  cursor:pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  border-bottom: 3px solid #8645DA;
  padding: 6px 0px;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  color: #3A3939;
  text-align: center;
  width: 49%;
}

.tab-inact{
  border-bottom: 3px solid #3A3939;
}

.da{
	display: none;
}
.container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.container h2{
	color: white;
	padding-bottom: 18px;
}
form{
	width: 95%;
	padding: 20px 20px 20px 20px;
	border-radius: 7px;
	text-align: center;
}
form input{
	padding: 5px;
}
body > div.tabs.is-toggle.is-fullwidth > ul > li > a{
	border-radius: 0;
}
body > div.login > div > form > input:nth-child(2){
	margin-bottom: 12px;
}
input[type=submit]{
	margin-top: 7px;
}
table{
	font-size: 12px;
	width: 600px;
}